body {
    background: white;
    color: #000066;
}

body, input, textarea, button, td {
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 12px;
  line-height: auto !important;
}

.entry .info,
.entry .likes,
.entry .comments,
.entry .info a.date,
.entry .info a.service,
.entry .comments a.via,
.entry .commentform textarea {
  font-size: 11px;
}

#embedbody {
  max-width: 15em;
}

#embedheader,
#embedbody .sharebox {
    display: none;
}

